body {
	background-color: #221a0f;
	padding: 10px;
}

.container {
	display: grid;
	grid-template-columns: 1fr 4fr 1.7fr;
	grid-template-rows: 0.3fr 2fr 2fr 2fr 0.01fr;
	grid-template-areas: 
	"header header header"
	"nav hejsan teknikumimg"
	". it ne"
	". it2 ."
	"footer footer footer";
	grid-gap: 10px;
}


p {
	color: #d3af86;
}

header {
	background-color: #473624;
	grid-area: header;
}

header img {
	max-width: 3%;
	 
	margin-left: 20px;
}

nav{
	grid-area: nav;
}

nav > ul {
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
	margin-right: 20px;
	margin-left: -25px;
}

nav li {
	list-style-type: none;
	display: grid;
	align-self: stretch;
	align-items: stretch;
	align-items: center;
	border-width: 3px;
	border-style: solid;
	border-color: #367031;
	padding: 10px;
}

h1 {
	font-family: Arial;
	font-size: 22px;
	color: rgb(186, 191, 229);
}

.menylink1 {
	text-decoration: none;
	color: #367031;
}

.menylink2 {
	color: #367031;
	text-decoration: none;
}

.gitlink {
	max-width: 20%;
	 
}

.hejsan {

	border-width: 3px;
	border-style: solid;
	border-color: #d3af86;
	padding: 1em;
}

.item_hejsan{
	grid-area: hejsan;
}

.uggla {
	text-decoration: none;
	color: #d3af86;
}

h2 {
	color: rgb(186, 191, 229);
}

.it {

	color: #f79a32;
	background-color: #473624;
}

.item_it{
	grid-area: it;
}

.it2{

}

.item_it2{
	grid-area: it2;
}

.teknikumimg {

	max-width: 10%;
	 
}

.item_teknikumimg{
	grid-area: teknikumimg;
}

.ne {

	max-width: 10%;
	 
}

.item_ne{
	grid-area: ne;
}

h3 {
	color: rgb(153, 153, 153);
	font-size: 16px;
}

footer{
	grid-area: footer;
}

.fottext {
	font-size: 12px;
}

.fotlink {
	text-decoration: none;
	color: #d3af86;
}
