body{
    background-color:rgb(41, 41, 41);
}

p{
    color:rgb(255, 131, 93);
}

h1{
    font-family: Arial;
    font-size: 22px;
    text-align:center;
    color:rgb(186, 191, 229);
}

.hejsan{
    border-width: 3px; border-style:solid; border-color:rgb(255, 131, 93);padding: 1em;
}

h2{
    color: rgb(186, 191, 229);
}

.it{
    color: rgb(234, 234, 234);
    text-align: center;
    background-color:rgb(93, 93, 93);
}

.it2{
    color: rgb(255, 131, 93);
    text-align: right;
}

.teknikumimg{
    max-width: 40%;
    max-height: auto;
}

.link{
    color:rgb(234, 234, 234);
    text-decoration: none;
}