body{
    background-color:rgb(41, 41, 41);
    margin-top: 70px;
    padding: 20px;
}

p{
    color:rgb(255, 131, 93);
}

h1{
    font-family: Arial;
    font-size: 22px;
    margin-left: 20px;
    margin-right: -30px;
    color:rgb(186, 191, 229);
}

header{
    background-color:rgb(63, 63, 63);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    display: flex;
    align-items: center;
}

header img{
    max-width: 3%;
    max-height: auto;
    margin-left: 20px;
}

header *{
    display: inline;
}

header li{
    margin: 6px;
}

.headerlink1{
    text-decoration: none;
    color: rgb(186, 191, 229);
    font-size: 17px;
}

.gitlink{
    max-width: 3%;
    max-height: auto;
}

.hejsan{
    border-width: 3px;
    border-style:solid; 
    border-color:rgb(255, 131, 93);
    padding: 1em;
}

.partner{
    text-decoration: none;
    color:rgb(255, 131, 93);
}

h2{
    color: rgb(186, 191, 229);
}

.it{
    color: rgb(234, 234, 234);
    text-align: center;
    background-color:rgb(63, 63, 63);
}

.it2{
    text-align: right;
}

.teknikumimg{
    max-width: 44%;
    max-height: auto;
}

.link{
    color:rgb(234, 234, 234);
    text-decoration: none;
}

.ne{
    max-width: 100%;
    max-height: auto;
}


h3{
    color:rgb(153, 153, 153);
    font-size: 16px;
}

.fottext{
    font-size: 12px;
}

.fotlink{
    text-decoration:none;
    color: rgb(255, 131, 93);

}